.ability {
  display: flex;
}

.ability__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.ability__box {
  @include center;
  padding-top: 25px;
  padding-bottom: 25px;

  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.ability__title {
  margin-bottom: 10px;

  @include font(14px, 1.14, 0.03em);
  text-transform: uppercase;

  color: var(--second-text-color);
  margin-bottom: 10px;
}

.ability__text {
  @include font(14px, 1.71, 0.03em);

  color: var(--first-text-color);
}
